<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Vendata is a repository of venezuelan official public documents, and an API that enables complex querying over the repository.">
  <meta name="author" content="Victor De Ponte <victor.dpo@gmail.com>">
  <meta name="author" content="Francisco Martinez">
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script>
    (function(){
      var ef = function(){};
      window.console = window.console || {log:ef,warn:ef,error:ef,dir:ef};
    }());
    </script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv-printshiv.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/es5-shim/3.4.0/es5-shim.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/es5-shim/3.4.0/es5-sham.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

  <title>Vendata - Datos abiertos de Venezuela, a tu alcance</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'http://css-spinners.com/css/spinners.css', media: 'all', 'data-turbolinks-track' => true %>
  <% unless params[:nojs] %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <% end %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="vendata">
  <%= yield %>
  </div>
</body>
<%= javascript_include_tag 'app', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'documentcloud', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'http://assets.documentcloud.org/viewer/viewer.js', 'data-turbolinks-track' => true %>
</html>